%h1 Run Command
%form{:action => "/command", :method => "post", :class => "form-stacked"}
  %label{:for => "command"}
    Command
  - input_for 'command'
  %input{:name => "command"}/
  %input{:name => "run", :type => "submit", :value => "Run", :class => "btn"}/

- @commands.each do |id,log|
  .row
    .span16
      %h2= log["command"]
      %p
        %span{:class => "label"}
          = "ID: #{id}"

        - if log["error"] and log["error"] != ""
          %span{:class => "label warning"}
            = "Error: #{log["error"]}"

        - if log["status"] > 0
          %span{:class => "label warning"}
            = "Status: #{log["status"]}"

        - unless $redis.exists "logs::#{id}::stdout"
          %span{:class => "label notice"}
            No Output

        - if $redis.exists "logs::#{id}::stderr"
          - stderr = $redis.lrange "logs::#{id}::stderr", 0, -1
          %span{:class => "label important"}
            Error
          ~ "<pre style='border-color:red'>" + stderr.join("\n") + "</pre>"

      %p
        %a{:href => "/command/#{id}", :class => "btn"} View Details »
  %hr/
