%h2 Enabled Hooks
- @hooks.each do |type,mods|
  - next if mods.empty?
  %h3= type
  %table.table.table-condensed
    %tr
      %th Module
      %th Version
      %th Actions
    - mods.each do |mod|
      %tr
        %td= mod
        %td= mod.version
        %td
          %form{:action => "/admin/hooks", :method => "post", :style => "margin:0"}
            %input{:type => "hidden", :name => "type", :value => type}
            %input{:type => "hidden", :name => "mod", :value => mod}
            %input.btn.btn-mini.btn-danger{:type => "submit", :name => "action", :value => "Disable"}

%h2 Disabled Hooks
- @hooks.disabled_hooks.each do |type,mods|
  - next if mods.empty?
  %h3= type
  %table.table.table-condensed
    %tr
      %th Module
      %th Version
      %th Actions
    - mods.each do |mod|
      %tr
        %td= mod
        %td= mod.version
        %td
          %form{:action => "/admin/hooks", :method => "post", :style => "margin:0"}
            %input{:type => "hidden", :name => "type", :value => type}
            %input{:type => "hidden", :name => "mod", :value => mod}
            %input.btn.btn-mini.btn-success{:type => "submit", :name => "action", :value => "Enable"}
