%h1 Cluster Status
- @keys.each do |key|
  .span3.well
    %h2{:href => "/servers/cluster:#{key}"}
      = key
      %small
        = redis.scard "cluster:#{key}"
        nodes
    %small
      %a{:href => "/servers/cluster:#{key}"} Details &gt;&gt;
