<form action='/servers' method='post' class="form-stacked">
  <label for='name'>Node Name</label>
  <%= input_for 'name' %>
  <label for='cluster_membership'>Which Cluster does this node belong to</label>
  <%= input_for 'cluster_membership' %>
  <%= input_for 'create', { :type => 'submit', :value => 'Create', :class => 'btn' } %>
</form>

<form action='/clusters' method='post' class="form-stacked">
  <label for='name'>Cluster Name</label>
  <%= input_for 'name' %>
  <%= input_for 'create', { :type => 'submit', :value => 'Create', :class => 'btn' } %>
</form>
