%h1 Scheduler Management
.span2.well
  %h2 New
  %form{:action => "/scheduler", :method => "post"}
    .input
      %label{:for => "command"} Command
      %input{:name => "command"}/
    = partial "forms/scheduler"
    .actions
      %input{:name => "schedule", :type => "submit", :value => "Schedule", :class => "btn"}/

.span9
  %h2 Active Schedules
  %table.table.table-striped
    %thead
      %tr
        %th ID
        %th Minute
        %th Hour
        %th Date
        %th Month
        %th Day
        %th Command
        %th Actions
    %tbody
      - @schedules.each do |id,schedule|
        %tr
          %td= id
          %td= schedule["min"]
          %td= schedule["hr"]
          %td= schedule["date"]
          %td= schedule["month"]
          %td= schedule["day"]
          %td= schedule["command"]
          %td
            %form.form-inline{:action => "/scheduler/#{id}", :method => "post"}
              %input{:type => "hidden", :name => "_method", :value => "delete"}/
              %input.btn.btn-small.btn-danger{:type => "submit", :name => "delete", :value => "Delete"}/