%h1 Commands
.span3.well
  %form{:action => "/commands", :method => "post"}
    .input
      %label{:for => "command"} Command
      %input{:name => "command"}/
    = partial "forms/scheduler"
    .actions
      %input{:name => "run", :type => "submit", :value => "Run", :class => "btn"}/

.span12
  - @ids.each do |id|
    - log = @commands[id]
    .row
      .span9
        %h2= log["command"] || "Unknown Command"
        %p
          %span.label
            = "ID: #{id}"

          - if log["error"] and log["error"] != ""
            %span.label.label-warning
              = "Error: #{log["error"]}"

          - if log["status"] > 0
            %span.label.label-warning
              = "Status: #{log["status"]}"

          - unless $redis.exists "logs::#{id}::stdout"
            %span.label.label-notice
              No Output

          - if $redis.exists "logs::#{id}::stderr"
            - stderr = $redis.lrange "logs::#{id}::stderr", 0, -1
            %span.label.label-important
              Error
            ~ "<pre style='border-color:red'>" + stderr.join("\n") + "</pre>"

        %p
          %a{:href => "/commands/#{id}", :class => "btn"} View Details »
    %hr/
