%h1= "#{@node["name"]}"

-if not @logs.props["finished"] 
  .row
    .span4
      .progress.progress-striped.active
        .bar(style='width:80%') Deployment in progress
-else 
  .row
    .span4
      %p= "Started: #{Time.at(@logs.props["started"])}"
      %p= "Finished: #{Time.at(@logs.props["finished"])}"
      %p= "Status : #{@logs.props["exit_status"]}"

-if not @logs.stdout.empty?
  %pre.pre-scrollable= @logs.stdout.join("\n")
-elsif not @logs.stderr.empty?
  %pre.pre-scrollable= @logs.stderr.join("\n")

%h3{:type => "submit", :value => "Create", :class => "btn btn-primary"}Edit


%table{:border => 0, :width => "100%"}
  %tr{:align => "left"}
    %th IP Address
    %th 10.10.10.11
  %tr{:align => "left"}
    %th FQDN   
    %th foo.domain.com
  %tr{:align => "left"}
    %th Local IP Address
    %th 192.168.1.10
  %tr{:align => "left"}
    %th Public IP Address
    %th 8.8.1.2
  %tr{:align => "left"}
    %th SSH Key
  %tr{:align => "left"}
    %th Node Role(s)
    %th FreeSWITCH
  %tr{:align => "left"}
    %th Service Status